<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=lkdb7nwE4B">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=lkdb7nwE4B">
<link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png?v=lkdb7nwE4B">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=lkdb7nwE4B">
<link rel="manifest" href="/site.webmanifest?v=lkdb7nwE4B">
<link rel="mask-icon" href="/safari-pinned-tab.svg?v=lkdb7nwE4B" color="#9d6039">
<link rel="shortcut icon" href="/favicon.ico?v=lkdb7nwE4B">
<meta name="apple-mobile-web-app-title" content="Prose and Prosody">
<meta name="application-name" content="Prose and Prosody">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="/mstile-144x144.png?v=lkdb7nwE4B">
<meta name="theme-color" content="#ffffff">