<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>

    <!-- META START -->
    {% include meta.html %}
    <!-- META END -->
    <!-- IMPORTS START -->
    {% include imports.html%}
    <!-- IMPORTS END -->
    <!-- FAVICONS START -->
    {% include favicons.html %}
    <!-- FAVICONS END-->
  </head>
  
  <body>
    <div id="sidebarbackground">
    </div>
    <!-- HEADER START -->
    {% include header.html %}
    <!-- HEADER END -->

    <div class="content">
    {{ content }}

    <!-- FOOTER START -->
    {% include footer.html %}
    <!-- FOOTER END -->
    </div>
    
  </body>
</html>
